[submodule "hugo-clarity"]
	path = themes_template/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
	branch = master
[submodule "themes_template/elephants"]
	path = themes_template/elephants
	url = https://github.com/meibenny/elephants.git
